
<title>权限列表</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>用户</cite></a>
        <a><cite>权限管理</cite></a>
        <a><cite></cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">权限列表</div>
                <div class="layui-card-body">
                   <div class="LAY-user-access-btns" style="margin-bottom: 10px;">
                        <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" data-events="add" title="添加">
                            <i class="layui-icon layui-icon-tianjia"></i>
                        </button>
                        <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" data-events="del" title="批量删除">
                            <i class="layui-icon layui-icon-delete"></i>
                        </button>
                       <a layadmin-event="back" class="layui-btn layui-btn-primary layui-btn-xs">返回上一级</a>
                    </div>

                    <table id="LAY-user-access-table-list" lay-filter="LAY-user-access-table-list"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.id }}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{ d.status == 0 ? 'checked' : '' }}>
</script>
<script type="text/html" id="toolbarTpl">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" title="删除">
        <i class="layui-icon layui-icon-delete"></i>
    </a>
</script>

<script>
    layui.use(['admin','table','layer','form'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,table = layui.table
            ,layer = layui.layer
            ,form = layui.form;

        admin.events.back = function(){
            history.back();
        };

        var menuTpl = function(d){
            if(d.parent_id == 0){
                return '一级菜单';
            }else{
                return '次级菜单';
            }
        };

        var nameTpl = function(d){
            return '<a lay-href="/user/access/list/parent_id='+d.id+'">'+d.name+'</a>';
        };

        //弹出层默认宽度
        var width = '350px';

        //列表渲染
        var tableIns = table.render({
            elem: '#LAY-user-access-table-list'
            ,url: '/admin/access/getList'
            ,page: true
            ,limit: 10
            ,limits: [10, 20, 30]
            ,cellMinWidth: 100
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{type: 'numbers'}
                ,{field: 'name', title: '权限名', align: 'center', templet: nameTpl}
                ,{field: 'url', title: 'url', align: 'center', edit: 'text'}
                ,{field: 'parent_id', title: '菜单层级', align: 'center', templet: menuTpl}
                ,{field: 'create_time', title: '创建时间', align: 'center'}
                ,{field: 'status', title: '状态', align: 'center', templet: '#statusTpl'}
                ,{fixed: 'right', title: '操作', align: 'center', toolbar: '#toolbarTpl'}
            ]]
            ,where: {
                statusCode: '>=',
                parent_id: layui.router().search.parent_id,
                access_token: layui.data('layuiAdmin').access_token
            }
        });

        //监听单元格编辑
        table.on('edit(LAY-user-access-table-list)',function(obj){
            admin.req({
                url: '/admin/access/update'
                ,type: 'post'
                ,data: {field: obj.field, value: obj.value, id: obj.data.id}
                ,done: function(res){
                    layer.msg(res.msg,{icon: 6,time: 1000,shade: 0.1});
                }
            });
        });

        //监听状态操作
        form.on('switch(status)',function(obj){
            var value = obj.elem.checked ? 0: 1;
            admin.req({
                url: '/admin/access/update'
                ,type: 'post'
                ,data: {field: this.name, value: value, id: this.value}
                ,done: function(res){
                    layer.msg(res.msg,{icon: 6,time: 1000,shade: 0.1});
                }
            });
        });

        //监听工具栏操作
        table.on('tool(LAY-user-access-table-list)',function(obj){
            if(obj.event === 'del'){
                layer.confirm('确认删除?',{icon: 2, btnAlign: 'c'},function(index){
                    admin.req({
                        url: '/admin/access/update'
                        ,type: 'post'
                        ,data: {field: 'status', value: -2, id: obj.data.id}
                        ,done: function(res){
                            layer.msg(res.msg,{icon: 6,time: 1000,shade: 0.1},function(){
                                obj.del();
                            });
                        }
                    });
                    layer.close(index);
                });
            }else if(obj.event === 'edit'){
                admin.popup({
                    id: 'editAccess'
                    ,title: '编辑'
                    ,area: [width, '100%']
                    ,success: function () {
                        layui.view(this.id).render('user/access/edit',{id: obj.data.id});
                    },
                    end: function(){
                        admin.events.refresh();
                    }
                });
            }
        });

        //事件处理
        var events = {
            add: function(othis){
                admin.popup({
                    id: 'addAccess'
                    ,title: '添加'
                    ,area: [width,'800px']
                    ,success: function(){
                        layui.view(this.id).render('user/access/add');
                    }
                    ,end: function(){
                        admin.events.refresh();
                    }
                });
            },
            del: function(othis){
                var checkStatus = table.checkStatus('LAY-user-access-table-list')
                    ,data = [];
                if(checkStatus.data.length === 0){
                    return layer.msg('未选中行');
                }
                for(var i = 0;i < checkStatus.data.length;i++){
                    data[i] = checkStatus.data[i]['id'];
                }
                layer.confirm('确认删除选中的数据吗?',{icon: 2, btnAlign: 'c'},function(index){
                    admin.req({
                        url: '/admin/access/del'
                        ,type: 'post'
                        ,data: {id: data}
                        ,done: function(res){
                            layer.msg(res.msg,{icon: 6,time: 1000,shade: 0.1},function(){
                                admin.events.refresh();
                            });
                        }
                    });
                    layer.close(index);
                });
            }
        }

        //触发事件
        $(".LAY-user-access-btns .layui-btn").on('click',function(){
            var othis = $(this),thisEvent = othis.data('events');
            events[thisEvent] && events[thisEvent].call(this, othis);
        });

    });
</script>