<form class="layui-form layui-form-pane">
    <div class="layui-form-item">
        <label class="layui-form-label">产品名</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-verType="tips" autocomplete="false" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品地址</label>
        <div class="layui-input-block">
            <input type="text" name="url" lay-verify="required|url" lay-verType="tips" autocomplete="false" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品背景色</label>
        <div class="layui-input-block">
            <input type="text" name="bgcolor" lay-verify="required" lay-verType="tips" autocomplete="false" class="layui-input">
        </div>
    </div>
    <button class="layui-btn" lay-submit lay-filter="add">提交</button>
</form>

<script>
    layui.use(['admin','form','layer'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,form = layui.form
            ,layer = layui.layer;

        form.on('submit(add)',function(data){
            admin.req({
                url: '/admin/product/add'
                ,type: 'post'
                ,data: data.field
                ,done: function (res) {
                    layer.msg(res.msg,{icon: 6,time: 1000,shade: 0.1},function () {
                        layer.closeAll();
                    });
                }
            });
            return false;
        });

    });
</script>