<form class="layui-form layui-form-pane">
    <script type="text/html" template lay-url="/admin/link/getLink?id={{ d.params.id }}"
            lay-done="layui.data.done(d);">
        <div class="layui-form-item">
            <label class="layui-form-label">友情链接名</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{{ d.data.name }}" lay-verify="required" lay-verType="tips" autocomplete="false"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接地址</label>
            <div class="layui-input-block">
                <input type="text" name="url" value="{{ d.data.url }}" lay-verify="required|url" lay-verType="tips" autocomplete="false"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">logo</label>
            <div class="layui-input-inline">
                <input type="hidden" name="image" value="{{ d.data.image }}" id="LAY_imageSrc"
                       placeholder="图片地址"
                       class="layui-input">
                <input type="hidden" name="image_id" value="{{ d.data.image_id }}" id="LAY_imageId">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" class="layui-btn layui-btn-primary" id="LAY_imageUpload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <button type="button" class="layui-btn layui-btn-primary"
                        layadmin-event="imagePreview">查看图片
                </button>
            </div>
        </div>
        <input type="hidden" name="id" value="{{ d.params.id }}">
    </script>
    <button class="layui-btn" lay-submit lay-filter="edit">提交</button>
</form>

<script>
    layui.data.done = function (d) {
        layui.use(['admin', 'form', 'layer', 'upload'], function () {
            var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , layer = layui.layer
                , upload = layui.upload;

            upload.render({
                elem: '#LAY_imageUpload'
                , url: '/api/common/uploadImage'
                , data: {path: $("#LAY_imageSrc").val()}
                , done: function (res) {
                    if (res.code == 0) {
                        layer.msg(res.msg, {icon: 6, time: 1000, shade: 0.1}, function () {
                            $("#LAY_imageSrc").val(res.data.src);
                            $("#LAY_imageId").val(res.data.id);
                        });
                    }
                }
            });

            //查看图片
            admin.events.imagePreview = function (othis) {
                var src = $("#LAY_imageSrc").val();
                layer.photos({
                    photos: {
                        "title": "查看图片"
                        , "data": [{
                            "src": src
                        }]
                    }
                    , shade: 0.01
                    , closeBtn: 1
                    , anim: 5
                });
            };

            form.on('submit(edit)', function (data) {
                admin.req({
                    url: '/admin/link/edit'
                    , type: 'post'
                    , data: data.field
                    , done: function (res) {
                        layer.msg(res.msg, {icon: 6, time: 1000, shade: 0.1}, function () {
                            layer.closeAll();
                        });
                    }
                });
                return false;
            });

        });
    };
</script>