<title>友情链接列表</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>内容管理</cite></a>
        <a><cite>友情链接管理</cite></a>
        <a><cite></cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">友情链接列表</div>
                <div class="layui-card-body">
                    <div class="LAY-content-link-btns" style="margin-bottom: 10px;">
                        <button class="layui-btn layui-btn-primary layui-btn-xs" data-events="add" title="添加">
                            <i class="layui-icon layui-icon-tianjia"></i>
                        </button>
                        <button class="layui-btn layui-btn-danger layui-btn-xs" data-events="del" title="删除">
                            <i class="layui-icon layui-icon-delete"></i>
                        </button>
                    </div>
                    <table id="LAY-content-link-table-list"
                           lay-filter="LAY-content-link-table-list"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.id }}" lay-skin="switch" lay-text="正常|禁用" lay-filter="status" {{
           d.status== 0 ? 'checked' : '' }}>
</script>
<script type="text/html" id="toolbarTpl">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit" title="编辑">
        <i class="layui-icon layui-icon-bianji"></i>
    </a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" title="删除">
        <i class="layui-icon layui-icon-delete"></i>
    </a>
</script>

<script>
    layui.use(['admin', 'table', 'form'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , table = layui.table
            , form = layui.form;

        var imageTpl = function (d) {
            return '<button class="layui-btn layui-btn-primary layui-btn-xs" lay-imageSrc="' + d.image + '" layadmin-event="imagePreview">查看图片</button>';
        };

        //弹出层默认宽度
        var width = '520px';

        //当屏幕宽度低于768,弹出层的宽度
        if(admin.screen() == 0){
            width = '100%';
        }

        //列表渲染
        table.render({
            elem: '#LAY-content-link-table-list'
            , url: '/admin/link/getList'
            , page: true
            , limit: 10
            , limits: [10, 50, 100, 200, 500]
            , cellMinWidth: 100
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {type: 'numbers'}
                , {field: 'name', title: '友情链接名', align: 'center'}
                , {field: 'url', title: '链接地址', align: 'center'}
                , {field: 'image', title: 'logo', align: 'center', templet: imageTpl}
                , {field: 'create_time', title: '创建时间', align: 'center'}
                , {field: 'status', title: '状态', align: 'center', templet: '#statusTpl'}
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#toolbarTpl'}
            ]]
            , where: {
                statusCode: '<',
                access_token: layui.data('layuiAdmin').access_token
            }
        });

        //监听状态操作
        form.on('switch(status)', function (obj) {
            var value = obj.elem.checked ? 0 : 1;
            admin.req({
                url: '/admin/link/update'
                , type: 'post'
                , data: {field: this.name, value: value, id: this.value}
                , done: function (res) {
                    layer.msg(res.msg, {icon: 6, time: 1000, shade: 0.1});
                }
            });
        });

        //监听工具栏操作
        table.on('tool(LAY-content-link-table-list)', function (obj) {
            if (obj.event === 'del') {
                layer.confirm('确认删除?', {icon: 2, btnAlign: 'c'}, function (index) {
                    admin.req({
                        url: '/admin/link/update'
                        , type: 'post'
                        , data: {field: 'status', value: 2, id: obj.data.id}
                        , done: function (res) {
                            layer.msg(res.msg, {icon: 6, time: 1000, shade: 0.1}, function () {
                                obj.del();
                            });
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                admin.popup({
                    id: 'editLink'
                    , title: '编辑'
                    , area: [width, '100%']
                    , success: function () {
                        layui.view(this.id).render('content/link/edit', {id: obj.data.id});
                    },
                    end: function () {
                        admin.events.refresh();
                    }
                });
            }
        });

        //查看图片
        admin.events.imagePreview = function (othis) {
            var src = $(othis).attr('lay-imageSrc');
            layer.photos({
                photos: {
                    "title": "查看图片"
                    , "data": [{
                        "src": src
                    }]
                }
                , shade: 0.01
                , closeBtn: 1
                , anim: 5
            });
        };

        //事件处理
        var events = {
            add: function (othis) {
                admin.popup({
                    id: 'addLink'
                    , title: '添加'
                    , area: ['400px', '300px']
                    , success: function () {
                        layui.view(this.id).render('content/link/add');
                    }
                    , end: function () {
                        admin.events.refresh();
                    }
                });
            },
            del: function (othis) {
                var checkStatus = table.checkStatus('LAY-content-link-table-list')
                    , data = [];
                if (checkStatus.data.length === 0) {
                    return layer.msg('未选中行');
                }
                for (var i = 0; i < checkStatus.data.length; i++) {
                    data[i] = checkStatus.data[i]['id'];
                }
                layer.confirm('确认删除选中的数据吗?', {icon: 2, btnAlign: 'c'}, function (index) {
                    admin.req({
                        url: '/admin/link/del'
                        , type: 'post'
                        , data: {id: data}
                        , done: function (res) {
                            layer.msg(res.msg, {icon: 6, time: 1000, shade: 0.1}, function () {
                                admin.events.refresh();
                            });
                        }
                    });
                    layer.close(index);
                });
            }
        }

        //触发事件
        $(".LAY-content-link-btns .layui-btn").on('click', function () {
            var othis = $(this), thisEvent = othis.data('events');
            events[thisEvent] && events[thisEvent].call(this, othis);
        });
    });
</script>