<title>设置我的资料</title>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">设置我的资料</div>
                <div class="layui-card-body" pad15>

                    <form class="layui-form">
                        <script type="text/html" template lay-url="/admin/user/info"
                                lay-done="layui.data.done(d);">
                            <div class="layui-form-item">
                                <label class="layui-form-label">我的角色</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="role" value="{{ d.data.role }}" readonly
                                           class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">当前角色不可更改为其它角色</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="username" value="{{ d.data.username }}"
                                           lay-verify="required" lay-verType="tips" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="nickname" value="{{ d.data.nickname }}"
                                           lay-verify="required" lay-verType="tips"
                                           autocomplete="off"
                                           placeholder="请输入昵称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">头像</label>
                                <div class="layui-input-inline">
                                    <input type="hidden" name="avatar" value="{{ d.data.avatar }}" id="LAY_avatarSrc"
                                           placeholder="图片地址"
                                           class="layui-input">
                                </div>
                                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                    <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                                        <i class="layui-icon">&#xe67c;</i>上传头像
                                    </button>
                                    <button type="button" class="layui-btn layui-btn-primary"
                                            layadmin-event="avartatPreview">查看头像
                                    </button>
                                </div>
                            </div>
                            <input type="hidden" value="{{ d.data.image_id }}" id="image_id">

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                                </div>
                            </div>
                        </script>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.data.done = function (d) {
        layui.use(['upload', 'admin', 'form'], function () {
            var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , upload = layui.upload;

            // 监听提交
            form.on('submit(setmyinfo)', function (data) {
                admin.req({
                    url: '/admin/user/info'
                    ,type: 'post'
                    ,data: data.field
                    ,done: function(res){
                        layer.msg(res.msg,{icon: 6,time: 1000,shade: 0.1});
                    }
                });
                return false;
            });

            var LAY_AVATARSRC = '#LAY_avatarSrc';

            // 上传头像
            upload.render({
                elem: '#LAY_avatarUpload'
                , url: '/api/common/uploadAvatar'
                , data: {image_id: $("#image_id").val(), path: $(LAY_AVATARSRC).val()}
                , field: 'image'
                , size: 50
                , before: function(obj) {
                  layer.msg('加载中', {
                    icon: 16
                    ,shade: 0.01
                  });
                }
                , done: function (res) {
                    layer.closeAll();
                    if (res.code == 0) {
                        layer.msg(res.msg, {icon: 6, time: 1000, shade: 0.1}, function () {
                            $(LAY_AVATARSRC).val(res.data);
                        });
                    }
                }
                , error: function(index, upload) {
                  layer.closeAll();
                }
            });

            //查看头像
            admin.events.avartatPreview = function (othis) {
                var src = $(LAY_AVATARSRC).val();
                layer.photos({
                    photos: {
                        "title": "查看头像"
                        , "data": [{
                            "src": src
                        }]
                    }
                    , shade: 0.01
                    , closeBtn: 1
                    , anim: 5
                });
            };
        });
    };
</script>